
<nav>
<%= link_to "/" do %>
<%= image_tag "/images/kotis-design-logo-orange.svg" %>
<% end %>
<%= link_to "Software",  "https://go.kotisdesign.com/manage/"%>
<%= link_to "Services",  "https://go.kotisdesign.com/make/"%>
<%= link_to "Swag",  "https://go.kotisdesign.com/products/"%>
<%= link_to "Stories",  "https://go.kotisdesign.com/work/"%>
<%= link_to "About",  "https://go.kotisdesign.com/about/"%>
<%= link_to "Login",  "https://mykotis.kotisdesign.com/"%>

</nav>
<article class="container">




</article>