
<nav>

<section class="right-nav">
<%= link_to "Kotis Design",  "https://go.kotisdesign.com/manage/"%>
<%= link_to "Software",  "https://go.kotisdesign.com/manage/"%>
<%= link_to "Services",  "https://go.kotisdesign.com/make/"%>
<%= link_to "Swag",  "https://go.kotisdesign.com/products/"%>
<%= link_to "Stories",  "https://go.kotisdesign.com/work/"%>
</section>
<section class="right-nav">
<%= link_to "About",  "https://go.kotisdesign.com/about/"%>
<%= link_to "Login",  "https://mykotis.kotisdesign.com/"%>
<%= button_to "Get Started", "https://kotisdesign.com/corporate/get-started", {class: 'btn'} %>
</section>
</nav>
<article class="container">
    <h2>Make better swag</h2>
    <h2>Manage swag better</h2>
    <h3>We make it easy to create, manage and send amazing merch, all from a single platform.</h3>
    <%= button_to "Get Started", "https://kotisdesign.com/corporate/get-started", {class: 'black btn'} %>

</article>
<h2 class="welcome">Welcome to the Swag Platform</h2>


